{% extends "pages/index.html" %}
{% load static %}
<h1>{% block title %}Home{% endblock %}</h1>
{% block nav-home %}

    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <li class="msg">{{message}} ✅</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="lp1">
        <div class="rectangle136"></div>
        <div class="headingDiv">
            <div class="transformingCubCodersIntoUnbeatableLions">Transforming Cub Coders🦁<br /> into Unbeatable Lions</div>
            <div  class="helpingYoungGenerationsLearnToCodeAndPursueDreams">Helping young generations learn to code and pursue dreams</div>
        </div>
        <div class="undrawpairprogrammingnjlp">
            <img src="{% static 'images/undraw_pair_programming_njlp.png' %}" alt="Programming" />
        </div>
    </div>


    <div class="lp2">
        <div class="rectangle67"></div>
        <div class="headingTxt">
            <div class="weAreAStrongCommunityOfEngineersMotivatedToBuildCareersOfTheYoungerGenerationsByProvidingThemAllTheNecessaryArticlesBlogsLecturesPracticeQuestionsNewsAndUpdatesForFree">We are a strong community of engineers motivated to build careers of the younger generations by providing them all the necessary articles, blogs, lectures, practice questions, News, and updates for free.</div>
            <div class="whoAreWe">Who are we?</div>
        </div>
        <div class="undrawaboutmewa29">
            <img src="{% static 'images/undraw_about_me_wa29.png' %}" alt="Programming" />
        </div>
    </div>




    <div class="lp3">

        <div class="rectangle192"></div>
        <div class="group362">
            <div class="moreAboutUs">More about us!</div>
            <div class="theOnlyPlatformYouCanCompletelyRelyUponForEverythingRelatedToProgramming">The only platform you can completely rely upon for everything related to programming.</div>
        </div>



        <svg preserveAspectRatio="none" viewBox="0 -0.5 770 1" class="line6"><path d="M 0 0 L 770 0"  /></svg>

        <div class="keyFeature">

            <div class="exploreContainer">
                <div class="rectangle194"></div>
                <div class="rectangle199"></div>
                <div class="group357">
                    <a class="explore31f7166b" target="_blank" href="{% url 'explore' %}" style="text-decoration: none;">Explore</a>
                    <div class="blogsAndArticlesToUpskillYourProgrammingAbilities">Blogs and articles to upskill your programming <br />abilities<br /><br /></div>
                </div>
                <div class="x001Design">
                    <img src="{% static 'images/001-design.png' %}" alt="Explore" />
                </div>
            </div>

            <div class="learnContainer">
                <div class="rectangle197"></div>
                <div class="rectangle200"></div>
                <div class="group358">
                    <a class="learn70c9543d" target="_blank" href="{% url 'learn' %}" style="text-decoration: none;">Learn</a>
                    <div class="structuredLearningPathsForCompleteBeginnersToGetStarted">Structured learning paths for complete beginners to get started.</div>
                </div>
                <div class="x002Sketchbook">
                    <img src="{% static 'images/002-sketchbook.png' %}" alt="Learn" />
                </div>
            </div>

            <div class="practiceContainer">
                <div class="rectangle198"></div>
                <div class="rectangle201"></div>
                <div class="group359">
                    <a class="practicee34cced1" target="_blank" href="{% url 'practice' %}" style="text-decoration: none;">Practice</a>
                    <div class="programmingQuestionsForPracticeOnAllTopicsAndAllDifficultyLevels">Programming questions for practice on all topics and all difficulty levels</div>
                </div>
                <div class="x003Test">
                    <img src="{% static 'images/003-test.png' %}" alt="Practice" />
                </div>
            </div>

        </div>

        <div class="group361">
            <div class="stuckedWithProblemserrorsWhileProgramming">Check Your programming Skills</div>
        </div>

        <div class="group360">
            <svg preserveAspectRatio="none" viewBox="0 0 322 83.8837890625" class="btnbg"><path d="M 38 0 L 284 0 C 304.98681640625 0 322 17.0131778717041 322 38 L 322 45.8837890625 C 322 66.87061309814453 304.98681640625 83.8837890625 284 83.8837890625 L 38 83.8837890625 C 17.0131778717041 83.8837890625 0 66.87061309814453 0 45.8837890625 L 0 38 C 0 17.0131778717041 17.0131778717041 0 38 0 Z"  /></svg>
            <a class="discuss83c575b6" style="text-decoration: none;" href="{% url 'quiz' %}">Take A Quiz</a>
        </div>

    </div>

    <div class="footer">            
        <div class="rectangle68"></div>
        <div class="codingCubs">Coding Cubs</div>
        <div class="group363">                
            <div class="aboutUs">About us</div>
            <div class="contactUs">Contact Us</div>
            <div class="faq">FAQ</div>
            <div class="reviews">Reviews</div>
        </div>
        <div class="x2021AllRightsReserved">© 2021 all rights reserved</div>
        <div class="email">                
            <div class="box">                    
                <div class="rectangle11"></div>
                <div class="enterYourEmailAddress">Enter your email address</div>
            </div>

            <div class="send">                    
                <div class="rectangle37"></div>
                <div class="send7f2d4f5b">Send</div>
            </div>

            <div class="interestedToWorkWithUs">Interested To Work With Us</div>
        </div>

    </div>



    <div class="ourWorkflow">
        <div class="rectangle209"></div>
        <div class="undrawsocialnetworkingnqk4">
            <img src="{% static 'images/undraw_social_networking_nqk4.png' %}" alt="Code" />
        </div>

        <div class="group356">
            <div  class="newToThePlatformTryItThisWayForTheBestExperience">New to the platform? Try it this way for the best experience.</div>

                <div class="group33506ed7be4">
                    <div class="learnConceptsFromOurStructuredPaths">Learn concepts from our structured paths.</div>
                    <div class="learn">Learn</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse88"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x01">01</div>
                </div>

                <div class="group33533613c74">
                    <div class="exploreMoreAboutTheConceptFromBlogsAndArticles">Explore more about the concept from blogs and articles.</div>
                    <div class="explore">Explore</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse88639d1ef9"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x02">02</div>
                </div>

                <div class="group335f6c2d5dc">
                    <div class="practiceAndApplyTheConceptsToRealLifeSituations">Practice and apply the concepts to real-life situations.</div>
                    <div class="practice">Practice</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse888c4843b2"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x03">03</div>
                </div>

                <div class="group335e0372897">
                    <div class="haveAQuestionAskThemHere">Have a question, ask them here.</div>
                    <div class="discuss">Discuss</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse8856c1354e"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x04">04</div>
                </div>

                <div class="group335935e8e03">
                    <div class="testYourKnowledgeWithOurFunQuizzes">Test your knowledge with our fun quizzes.</div>
                    <div class="testYourself">Test Yourself</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse88a8216ee5"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x05">05</div>
                </div>

                <div class="group335">
                    <div class="stayUpToDateWithProgrammingNews">Stay up to date with programming news.<br /></div>
                    <div class="news">News</div>
                    <svg preserveAspectRatio="none" viewBox="0 0 58 58" class="ellipse887b255941"><path d="M 29 0 C 45.01625823974609 0 58 12.98374366760254 58 29 C 58 45.01625823974609 45.01625823974609 58 29 58 C 12.98374366760254 58 0 45.01625823974609 0 29 C 0 12.98374366760254 12.98374366760254 0 29 0 Z"  /></svg>
                    <div class="x06">06</div>
                </div>
                <div class="howToGetStarted">How to Get started:</div>
            </div>
        </div>
    </div>




{% endblock %}

