{% load static %}
<html>
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/explore.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/message.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/learn.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />

        <link rel="stylesheet" href="{% static 'css/media.css' %}" type="text/css" />

        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <script src="{% static 'js/index.js' %}" type="application/javascript"></script>
        <script src="{% static 'js/quiz.js' %}"></script>
        <script src="{% static 'js/learn.js' %}" type="application/javascript"></script>
        <script src="{% static 'js/darkmode.js' %}" type="application/javascript"></script>
    </head>
    <body>
    <div>
        {% if user.is_authenticated %}
        {% block content %}
      <!-- Progress Bar Loading Page -->
        <div class="header">
            <div class="rectangle">
               <img class="logo" src="{% static 'images/WebsiteLogo.png' %}" alt="logo" width="91" height="65"/>
                {% block nav%}
                <nav>
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li  class="{{ home_page }}"><a href="{% url 'home' %}">Home</a></li>
                        <li class="{{ explore_page }}"><a href="{% url 'explore' %}">Explore</a></li>
                        <li><a href="{% url 'linkedlist' %}">Learn</a></li>
                        <li><a href="{% url 'practice' %}">Practice</a></li> 
                        <li><a href="{% url 'quiz' %}">Take a Quiz</a></li> 
                        <div class="logout-container">
                            <div class="loginBtn">
                            <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm" class="rectangle120"><div class="logIn">Log out</div></button></a>
                            </div>    
                        </div>

                    </ul>
                </nav>
                        </nav>    
                </nav>
                {% endblock %}
            </div>
        </div>
                         
        <div class="container">
            <div id="progressive">
                <div>
                    <h1 class="loadFont text-center">Please Wait...</h1>
                </div>
                <div class="progress" id="shadow" >
                    <div class="progress-bar progress-bar-danger six-sec-ease-in-out" role="progressbar" data-transitiongoal="100"></div>
                </div>
            </div>
        </div>
      
        <div id="nav-container" class="container" style="margin-top: 80px">

            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <p class="modal-title" id="exampleModalLongTitle" style="padding: 15px; padding-left: 10px;">Are You Sure Want to Log Out ?</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div style="float: right;">
                        <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                            <button type="submit"  class="btn btn-primary" >Log out</button></a>
                        </form>
                    </div>
                </div>
                </div>
            </div>


            {% block nav-home %} {% endblock %}
            {% block nav-explore %} {% endblock %}
            {% block nav-learn %} {% endblock %}
            {% block nav-practice %} {% endblock %}
            {% block nav-quiz %} {% endblock %}
            
        </div>

       
    

        {% endblock content %}
        {% else %}
        <meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000">
        {% endif %}
    </div>
    </body>
  
</html>