{% extends "pages/index.html" %}
<h1>{% block title %}Quiz{% endblock %}</h1>
{% block nav-quiz %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#but1").click(function(){
            $(".rb").show();
            $(".rb").attr("disabled",true);
        });
    });
    function getAnswers(){
        document.getElementById(UserAnswers).innerHTML="";
        var e=document.getElementByTagName('input');
        for(i=0;i<=e.length;i++){
            if(e[i].type=="radio"){
                if(e[i].checked){
                    document.getElementById(UserAnswers).innerHTML+="Q "+e[i].name+ "The answer you selected is :" +e[i].value+<br/>;
                }
            }
        }
    }
</script>
</head>
<div style="padding-left: 30px;">
        {% for result in quiz %}
        <table>
            <tr>
                <td>{{ result.id }} {{ result.Question }}</td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" id="Option1" name="{{result.id}}" value="{{result.Option1}}">{{result.Option1}}</td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" id="Option2" name="{{result.id}}" value="{{result.Option2}}">{{result.Option2}}</td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" id="Option3" name="{{result.id}}" value="{{result.Option3}}">{{result.Option3}}</td>
            </tr>
            <tr>
                <td><input type="radio" class="rb" id="Option4" name="{{result.id}}" value="{{result.Option4}}">{{result.Option4}}</td>
            </tr>
            <tr>
                <td><label id="corans" class="rb" style="display: none; color: green; "><b>Correct Answer: {{result.Corrans}}</b></label></td>
            </tr>
        </table>
        {% endfor %}
    <hr/>
    <input type="submit" value="Click for results" id="but1" onclick="getAnswers();"/>
    <b id="UserAnswers"></b>
    </div>
{% endblock %}