 .footer {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1519.00px;
  height: 498.00px;
  left: 1.00px;
  top: 3265.00px;
}
 .footer .rectangle68 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    width: 1519.00px;
  height: 498.00px;
  left: 0.00px;
  top: 0.00px;
}
 .footer .group363 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 140.00px;
  height: 173.00px;
  left: 902.00px;
  top: 134.00px;
}
 .footer .group363 .aboutUs {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(75, 100, 126, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 140.00px;
  height: 28.00px;
  left: 0.00px;
  top: -2.00px;
}
 .footer .group363 .contactUs {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(75, 100, 126, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 140.00px;
  height: 28.00px;
  left: 0.00px;
  top: 39.00px;
}
 .footer .group363 .faq {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(75, 100, 126, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 140.00px;
  height: 28.00px;
  left: 0.00px;
  top: 91.00px;
}
 .footer .group363 .reviews {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(75, 100, 126, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 140.00px;
  height: 28.00px;
  left: 0.00px;
  top: 143.00px;
}
 .footer .x2021AllRightsReserved {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(150, 156, 162, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 160.00px;
  height: 17.00px;
  left: 250.00px;
  top: 362.50px;
}
 .footer .email {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 340.00px;
  height: 76.00px;
  left: 247.00px;
  top: 193.00px;
}
 .footer .email .box {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: auto;
  height: 44.00px;
  left: 0.00px;
  right: 0.00px;
  bottom: 0.00px;
}
 .footer .email .box .rectangle11 {
  position: absolute;
    box-sizing: border-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 5.00px;
    border-top-right-radius: 5.00px;
    border-bottom-left-radius: 5.00px;
    border-bottom-right-radius: 5.00px;
    width: auto;
  height: auto;
  left: 0.00px;
  top: 0.00px;
  right: 0.00px;
  bottom: 0.00px;
}
 .footer .email .box .enterYourEmailAddress {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 17.00px;
    color: rgba(113, 121, 131, 1);
    -webkit-text-stroke: unset;
    font-size: 10.00px;
    font-weight: 400;
  font-style: normal;
    font-family: HelveticaNeue, Arial;
    white-space: pre;
    width: 109.00px;
  height: 14.00px;
  left: 16.00px;
  bottom: 17.50px;
}
 .footer .email .send {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 69.00px;
  height: 44.00px;
  right: 0.00px;
  bottom: 0.00px;
}
 .footer .email .send .rectangle37 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(27, 73, 138, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 5.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 5.00px;
    width: auto;
  height: auto;
  left: 0.00px;
  top: 0.00px;
  right: 0.00px;
  bottom: 0.00px;
}
 .footer .email .send .send7f2d4f5b {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 10.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    white-space: pre;
    width: 24.00px;
  height: 11.00px;
  right: 26.00px;
  bottom: 16.00px;
}
 .footer .email .interestedToWorkWithUs {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 18.00px;
    font-weight: 700;
  font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    width: 188.00px;
  height: auto;
  top: -30px;
  left: 0.00px;
}
 .footer .codingCubs {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(61, 55, 241, 1);
    -webkit-text-stroke: unset;
    font-size: 32.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Lato, Arial;
    white-space: pre;
    width: 179.00px;
  height: 39.00px;
  left: 250.00px;
  top: 100.50px;
}