.lp1 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1520.00px;
  height: 740.00px;
  z-index: -1;
  left: 0.00px;
  top: 0.00px;
}
.lp1 .rectangle136 {
    position: absolute;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-width: 1.00px;
      width: 1520.00px;
    height: 740.00px;
    z-index: -1;
    left: 0.00px;
    top: 0.00px;
}
.lp1 .headingDiv {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 764.00px;
  height: 362.00px;
  left: 79.00px;
  top: 261.00px;
}
.lp1 .headingDiv .transformingCubCodersIntoUnbeatableLions {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 109.00px;
    color: rgba(83, 77, 77, 1);
    -webkit-text-stroke: unset;
    font-size: 60.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Lato, Arial;
    white-space: pre;
    width: 764.00px;
  height: 187.00px;
  left: 0.00px;
  top: -18.50px;
}
.lp1 .headingDiv .helpingYoungGenerationsLearnToCodeAndPursueDreams {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 32.00px;
    color: rgba(83, 77, 77, 1);
    -webkit-text-stroke: unset;
    font-size: 22.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 602.00px;
  height: 103.00px;
  left: 0.00px;
  top: 256.50px;
}
.lp1 .undrawpairprogrammingnjlp {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 652.06px;
  height: 410.00px;
  left: 802.97px;
  top: 226.00px;
}


.lp2 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1520.00px;
  height: 740.00px;
  left: 0.00px;
  top: 740.00px;
}
.lp2 .rectangle67 {
    position: absolute;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-width: 1.00px;
      width: 1520.00px;
    height: 740.00px;
    left: 0.00px;
    top: 0.00px;
}
.lp2 .headingTxt {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 437.00px;
  height: 318.00px;
  left: 922.00px;
  top: 253.00px;
}
.lp2 .headingTxt .weAreAStrongCommunityOfEngineersMotivatedToBuildCareersOfTheYoungerGenerationsByProvidingThemAllTheNecessaryArticlesBlogsLecturesPracticeQuestionsNewsAndUpdatesForFree {
    position: absolute;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      line-height: 36.00px;
      color: rgba(116, 116, 116, 1);
      -webkit-text-stroke: unset;
      font-size: 25.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Roboto, Arial;
      width: 437.00px;
    height: 238.00px;
    left: 0.00px;
    top: 77.00px;
}
.lp2 .headingTxt .whoAreWe {
    position: absolute;
    transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      line-height: 28.00px;
      color: rgba(90, 84, 84, 1);
      -webkit-text-stroke: unset;
      font-size: 30.00px;
      font-weight: 700;
    font-style: normal;
      font-family: Lato, Arial;
      width: 260.00px;
    height: 50.00px;
    left: 0.00px;
    top: 4.00px;
}
.lp2 .undrawaboutmewa29 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 703.97px;
  height: 455.94px;
  left: 147.21px;
  top: 133.62px;
}








 .lp3 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1520.00px;
  height: 1045.00px;
  left: 0.00px;
  top: 1480.00px;
}
 .lp3 .rectangle192 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(12, 15, 50, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    width: 1520.00px;
  height: 1045.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .group360 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 322.00px;
  height: 83.88px;
  left: 919.43px;
  top: 886.00px;
}
 .lp3 .group360 .btnbg {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(61, 55, 241, 1);
    width: 322.00px;
  height: 83.88px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .group360 .discuss83c575b6 {
      position: absolute;
      transform-origin: center;
      padding-top: 15px;
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: unset;
      font-size: 34.00px;
      font-weight: 600;
      border: none;
      font-style: normal;
      font-family: Poppins, Arial;
      white-space: pre;
      width: 322.00px;
      height: 83.88px;
      left: 0px;
      top: 0px;
      bottom: 0px;
      -webkit-border-radius:1 ;
      -moz-border-radius:1 ;
      -ms-border-radius:1 ;
      -o-border-radius:1 ;
}
 .lp3 .group361 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 632.00px;
  height: 158.00px;
  left: 278.57px;
  top: 830.00px;
}
 .lp3 .group361 .discussWithTheBestCommunityOfProgrammers {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 48.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 30.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 632.00px;
  height: 113.00px;
  left: 0.00px;
  top: 39.50px;
}
 .lp3 .group361 .stuckedWithProblemserrorsWhileProgramming {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 80.00px;
    color: rgba(255, 255, 255, 0.23921568627450981);
    -webkit-text-stroke: unset;
    font-size: 18.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 500.00px;
  height: 40.00px;
  left: 11.00px;
  top: -29.00px;
}
 .lp3 .line6 {
    position: absolute;
    transform-origin: center;
      opacity: 0.33000001311302185;
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 770.00px;
    height: 1.00px;
    left: 290.00px;
    top: 764.50px;
}


 .lp3 .keyFeature {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1170.00px;
  height: 417.00px;
  left: 175.00px;
  top: 222.00px;
}




 .lp3 .keyFeature .exploreContainer {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .exploreContainer .rectangle194 {
  position: absolute;
  transform-origin: center;
    background-image: url("assets/rectangle194.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    -webkit-filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
  filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .exploreContainer .rectangle199 {
  position: absolute;
  transform-origin: center;
    opacity: 0.8999999761581421;
    background-color: rgba(19, 27, 124, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    -webkit-filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
  filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .exploreContainer .group357 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 248.00px;
  height: 214.00px;
  left: 73.00px;
  top: 171.00px;
}
 .lp3 .keyFeature .exploreContainer .group357 .explore31f7166b {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border: none;
    line-height: 83.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 41.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 135.00px;
  height: 49.00px;
  left: 0.00px;
  top: -17.00px;
}
 .lp3 .keyFeature .exploreContainer .group357 .blogsAndArticlesToUpskillYourProgrammingAbilities {
  position: absolute;
  transform-origin: center;
    opacity: 0.699999988079071;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 36.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 26.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 248.00px;
  height: auto;
  left: 0.00px;
  top: 55.00px;
}
 .lp3 .keyFeature .exploreContainer .x001Design {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 75.17px;
  height: 75.17px;
  left: 72.00px;
  top: 82.00px;
}
 .lp3 .keyFeature .learnContainer {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 370.00px;
  height: 417.00px;
  left: 400.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .learnContainer .rectangle197 {
  position: absolute;
  transform-origin: center;
    background-image: url("assets/rectangle197.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    -webkit-filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
  filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .learnContainer .rectangle200 {
  position: absolute;
  transform-origin: center;
    opacity: 0.800000011920929;
    background-color: rgba(243, 111, 33, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    -webkit-filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
  filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .learnContainer .group358 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 248.00px;
  height: 134.00px;
  left: 104.00px;
  top: 181.00px;
}
 .lp3 .keyFeature .learnContainer .group358 .learn70c9543d {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border: none;
    line-height: 83.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 41.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 103.00px;
  height: 49.00px;
  left: 0.00px;
  top: -17.00px;
}
 .lp3 .keyFeature .learnContainer .group358 .structuredLearningPathsForCompleteBeginnersToGetStarted {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 36.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 26.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 248.00px;
  height: auto;
  left: 0.00px;
  top: 55.00px;
}
 .lp3 .keyFeature .learnContainer .x002Sketchbook {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 74.72px;
  height: 81.89px;
  left: 103.77px;
  top: 81.00px;
}
 .lp3 .keyFeature .practiceContainer {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 370.00px;
  height: 417.00px;
  left: 800.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .practiceContainer .rectangle198 {
  position: absolute;
  transform-origin: center;
    background-image: url("assets/rectangle198.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    -webkit-filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
  filter: drop-shadow(0px 40px 40px rgba(197, 195, 249, 0.14901960784313725));
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .practiceContainer .rectangle201 {
  position: absolute;
  transform-origin: center;
    opacity: 0.800000011920929;
    background-color: rgba(165, 162, 246, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    width: 370.00px;
  height: 417.00px;
  left: 0.00px;
  top: 0.00px;
}
 .lp3 .keyFeature .practiceContainer .group359 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 248.00px;
  height: 204.00px;
  left: 76.00px;
  top: 183.00px;
}
 .lp3 .keyFeature .practiceContainer .group359 .practicee34cced1 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border: none;
    line-height: 83.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 41.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 149.00px;
  height: 49.00px;
  left: 0.00px;
  top: -17.00px;
}
 .lp3 .keyFeature .practiceContainer .group359 .programmingQuestionsForPracticeOnAllTopicsAndAllDifficultyLevels {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 36.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 26.00px;
    font-weight: 300;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 248.00px;
  height: auto;
  left: 0.00px;
  top: 55.00px;
}
 .lp3 .keyFeature .practiceContainer .x003Test {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 72.77px;
  height: 81.89px;
  left: 76.23px;
  top: 90.00px;
}
 .lp3 .group362 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 688.00px;
  height: 88.00px;
  left: 416.00px;
  top: 59.00px;
}
 .lp3 .group362 .moreAboutUs {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 48.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 40.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Lato, Arial;
    width: 539.00px;
  height: 62.00px;
  left: 75.00px;
  top: 0.00px;
}
 .lp3 .group362 .theOnlyPlatformYouCanCompletelyRelyUponForEverythingRelatedToProgramming {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 80.00px;
    color: rgba(255, 255, 255, 0.23921568627450981);
    -webkit-text-stroke: unset;
    font-size: 18.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 688.00px;
  height: 22.00px;
  left: 0.00px;
  top: 37.00px;
}




 .ourWorkflow {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 1520.00px;
  height: 740.00px;
  left: 0.00px;
  top: 2525.00px;
}
 .ourWorkflow .rectangle209 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(251, 252, 253, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-width: 1.00px;
    width: 1520.00px;
  height: 740.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .undrawsocialnetworkingnqk4 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 722.50px;
  height: 503.99px;
  left: 48.00px;
  top: 105.00px;
}
 .ourWorkflow .group356 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 656.00px;
  height: 450.07px;
  left: 804.00px;
  top: 161.92px;
}
 .ourWorkflow .group356 .newToThePlatformTryItThisWayForTheBestExperience {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 18.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 483.00px;
  height: 69.00px;
  left: 0.00px;
  top: 44.00px;
}
 .ourWorkflow .group356 .group33506ed7be4 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 228.49px;
  height: 78.07px;
  left: 9.00px;
  top: 161.00px;
}
 .ourWorkflow .group356 .group33506ed7be4 .learnConceptsFromOurStructuredPaths {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 142.50px;
  height: 47.49px;
  left: 85.99px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group33506ed7be4 .learn {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 50.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group33506ed7be4 .ellipse88 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(61, 55, 241, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group33506ed7be4 .x01 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.57px;
  top: 16.54px;
}
 .ourWorkflow .group356 .group33533613c74 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 309.00px;
  height: 78.07px;
  left: 347.00px;
  top: 161.00px;
}
 .ourWorkflow .group356 .group33533613c74 .exploreMoreAboutTheConceptFromBlogsAndArticles {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 223.50px;
  height: 47.49px;
  left: 85.50px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group33533613c74 .explore {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 66.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group33533613c74 .ellipse88639d1ef9 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(153, 151, 223, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group33533613c74 .x02 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.08px;
  top: 16.54px;
}
 .ourWorkflow .group356 .group335f6c2d5dc {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 295.49px;
  height: 78.07px;
  left: 9.00px;
  top: 265.00px;
}
 .ourWorkflow .group356 .group335f6c2d5dc .practiceAndApplyTheConceptsToRealLifeSituations {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 209.50px;
  height: 47.49px;
  left: 85.99px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group335f6c2d5dc .practice {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 73.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group335f6c2d5dc .ellipse888c4843b2 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(255, 186, 63, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group335f6c2d5dc .x03 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.57px;
  top: 16.54px;
}
 .ourWorkflow .group356 .group335e0372897 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 228.00px;
  height: 78.07px;
  left: 347.00px;
  top: 265.00px;
}
 .ourWorkflow .group356 .group335e0372897 .haveAQuestionAskThemHere {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 142.50px;
  height: 47.49px;
  left: 85.50px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group335e0372897 .discuss {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 70.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group335e0372897 .ellipse8856c1354e {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(230, 110, 110, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group335e0372897 .x04 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.08px;
  top: 16.54px;
}
 .ourWorkflow .group356 .group335935e8e03 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 228.49px;
  height: 78.07px;
  left: 9.00px;
  top: 369.00px;
}
 .ourWorkflow .group356 .group335935e8e03 .testYourKnowledgeWithOurFunQuizzes {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    width: 142.50px;
  height: 47.49px;
  left: 85.99px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group335935e8e03 .testYourself {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 117.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group335935e8e03 .ellipse88a8216ee5 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(102, 101, 159, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group335935e8e03 .x05 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.57px;
  top: 16.54px;
}
 .ourWorkflow .group356 .group335 {
    display: block;
    position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: transparent;
    width: 228.00px;
  height: 81.07px;
  left: 347.00px;
  top: 369.00px;
}
 .ourWorkflow .group356 .group335 .stayUpToDateWithProgrammingNews {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 14.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 142.50px;
  height: 50.49px;
  left: 85.50px;
  top: 27.08px;
}
 .ourWorkflow .group356 .group335 .news {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 25.00px;
    color: rgba(116, 116, 116, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 50.00px;
  height: 24.00px;
  left: 86.00px;
  top: -0.50px;
}
 .ourWorkflow .group356 .group335 .ellipse887b255941 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    fill: rgba(241, 118, 55, 1);
    width: 58.00px;
  height: 58.00px;
  left: 0.00px;
  top: 0.00px;
}
 .ourWorkflow .group356 .group335 .x06 {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 24.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Roboto, Arial;
    white-space: pre;
    width: 22.00px;
  height: 24.00px;
  left: 17.08px;
  top: 16.54px;
}
 .ourWorkflow .group356 .howToGetStarted {
  position: absolute;
  transform-origin: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 28.00px;
    color: rgba(90, 84, 84, 1);
    -webkit-text-stroke: unset;
    font-size: 22.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Lato, Arial;
    width: 287.00px;
  height: 40.00px;
  left: 0.00px;
  top: -0.50px;
}