.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 15px;
  font-weight: 200;
  background-color: #ffffff;
  position: fixed;
  top: 110px;
  left: 0px;
  width: 270px;
  height: 100%;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #e1ffff;
  padding-top: 2em;
}
.nav-side-menu .brand {
  background-color: #ffffff;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color:#c2c2c2;
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #eee;
}

.nav-side-menu li {
  padding: 3px;
}
.nav-side-menu li a {
  padding-left: 1.5em;
  text-decoration: none;
  color: #000000;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color:#4f5b69;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    margin-bottom: 10px;
    top: -25px;
    left: -20px;  
  }
  .fa {
    position: relative;
    z-index: 9;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


/* Learn Container */

.learn-container {
  position: absolute;
  top: 30px;
  left: 280px;
  width: 1200px;
  height: 100%;
}

/* Learn Divs */

.back-rectangle{
  display: block;
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #eee;
  overflow: hidden;
}
.content-div{
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 800px;
  width: 750px;
  height: 650px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease-in ease-out;
  -webkit-transition: all 0.5s ease-in ease;
  -moz-transition: all 0.5s ease-in ease;
  -ms-transition: all 0.5s ease-in ease;
  -o-transition: all 0.5s ease-in ease;
}
.psuedo-div{
  position:absolute;
  top: 0px;
  left: 780px;
  max-width: 460px;
  width: 460px;
  height: 390px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease-in ease-out;
  -webkit-transition: all 0.5s ease-in ease;
  -moz-transition: all 0.5s ease-in ease;
  -ms-transition: all 0.5s ease-in ease;
  -o-transition: all 0.5s ease-in ease;
}
.time-div{
  position:absolute;
  top: 400px;
  left: 780px;
  max-width: 460px;
  width: 460px;
  height: 250px;
  background-color:#ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease-in ease-out;
  -webkit-transition: all 0.5s ease-in ease;
  -moz-transition: all 0.5s ease-in ease;
  -ms-transition: all 0.5s ease-in ease;
  -o-transition: all 0.5s ease-in ease;
}

/* linked List */

#description {
  line-height: 1.6;
  padding: 10px 20px 20px 20px;
  height: 600px;
  overflow-y:scroll;
}

.space-div {
  padding: 10px 20px 20px 20px;
}
.pre_printed {
    padding: 10px;
    border: 1px solid #CCC;
    background-color: #f8f8f8;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 1200px) {
  .psuedo-div {
    left: 50px !important;
    top: 700px !important;
  }
  .time-div {
    left: 50px !important;
    top: 1100px !important;
  }
  .back-rectangle{
    width: 100%;
    height: 1400px !important;
  }
}
@media only screen and (max-width: 750px) {
  .learn-container{
    left: 0px !important;
  }
  .nav-side-menu{
    z-index: 99 !important;
  }
  .toggle-btn{
    z-index: 999 !important;
  }
}
@media only screen and (max-width: 500px) {
  .content-div{
    width: 360px !important;
  }
  .psuedo-div{
    width: 360px !important;
    left: 0px !important;
  }
  .time-div{
    width: 360px !important;
    left: 0px !important;
  }
}