
html {
  overflow: hidden;
  }
p{
  margin: 0;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

.login {
  position: absolute;
  left: 50px;
  top: 110px;
}
.text {
  position: absolute;
  left: 50px;
  top: 500px;
  width: 400px;
}
.signup-div {
  position: absolute;
  left: 250px;
  top: 40px;
  font-size: 1.5em;
}
.socialaccount_ballot {
      position: absolute;
      left: 180px;
      top: 510px;
      font-size: 1.5em;
}
.socialaccount_ballot > ul{
  list-style: none;
}
  input {
    width: 400px;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-left: 0.8rem;
    position: relative;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }
  
  input i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
   input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
  }
  
  .no-outline:focus {
    outline: none;
  }
  .input-field input::focus {
    outline:none;
    border: 0;
}

  
  
#id_remember {
  background: none;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 100;
  font-size: 1em;
  color: #333;
  display: inline-block;
}

  .btn {
    width: 150px;
    background-color: #ee6654;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }
  
  .btn:hover {
    background-color: #f14b35;
  }
  .button {
    margin-top: 10px;
  }

  .sign-in-container {
    position: absolute;
    display: block;
    width: 500px;
    height: 600px;
    left: 500px;
    top: 100px;
    background-color: rgb( 33, 41, 66 );
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}
  .errorlist {
    list-style: none !important;
    position: fixed !important;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 800;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    background-color: #dc3545;
    left: 40px;
    top: -30px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px
}

@media only screen and (max-width: 1000px){
  .sign-in-container{
    top: 10% !important;
    left: 30% !important;
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    -moz-transform: scale(0.8) !important;
    -ms-transform: scale(0.8) !important;
    -o-transform: scale(0.8) !important;
}
}
@media only screen and (max-width: 600px){
  .sign-in-container{
    left: 10% !important;
  }
}
@media only screen and (max-width: 500px){
  .sign-in-container{
    left: 0% !important;
  }
}
@media only screen and (max-width: 400px){
  .sign-in-container{
    top: 10% !important;
    left: -20% !important;

}
}

#particles-js {
  position: absolute;
  background-color: #1d243d;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text,label{
  color: #fff;
}

.title{
  color: #eee;
}