{% extends "pages/learn.html" %}
{% load static %}
{% block nav-bubblesort %}

<div>
    <div class="content-div">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
            <li><a data-toggle="tab" href="#sources">Sources</a></li>
        </ul>

        <div class="tab-content ">
            <div id="description" class="tab-pane fade in active">
                <h3><strong> Bubble Sort : </strong></h3>
                <p><strong>Sorting Algorithms</strong> are concepts that every competitive programmer must know. Sorting algorithms can be used for collections of numbers, strings, characters, or a structure of any of these types.</p>
                <p>Bubble sort is based on the idea of repeatedly comparing pairs of adjacent elements and then swapping their positions if they exist in the wrong order. </p>
                <p>Assume that A [ ] is an unsorted array of n elements. This array needs to be sorted in ascending order.  The pseudo code is as follows:  </p>
                <pre class="prettyprint"><code>void bubble_sort( int A[ ], int n ) {
    int temp;
    for(int k = 0; k&lt; n-1; k++) {
        // (n-k-1) is for ignoring comparisons of elements which have already been compared in earlier iterations

        for(int i = 0; i &lt; n-k-1; i++) {
            if(A[ i ] &gt; A[ i+1] ) {
                // here swapping of positions is being done.
                temp = A[ i ];
                A[ i ] = A[ i+1 ];
                A[ i + 1] = temp;
            }
        }
    }
}
</code></pre>
                <p>Lets try to understand the pseudo code with an example:
                    <code>A [ ] = { 7, 4, 5, 2}</code></p>
                <p><img width="680" alt="enter image description here" src="https://he-s3.s3.amazonaws.com/media/uploads/2682167.png" /></p>
                <p>In step 1, 7 is compared with 4. Since 7 > 4, 7 is moved ahead of 4. Since all the other elements are of a lesser value than 7, 7 is moved to the end of the array.  </p>
                <p>Now the array is A[]=\{4, 5, 2, 7\}. </p>
                <p>In step 2, 4 is compared with 5. Since 5 > 4 and both 4 and 5 are in ascending order, these elements are not swapped. However, when 5 is compared with 2, 5 > 2 and these elements are in descending order. Therefore, 5 and 2 are swapped.</p>
                <p>Now the array is A[]=\{4, 2, 5, 7\}. </p>
                <p>In step 3, the element 4 is compared with 2. Since 4 > 2 and the elements are in descending order, 4 and 2 are swapped.</p>
                <p>The sorted array is A[]=\{2, 4, 5, 7\}.   </p>
                <p><strong>Complexity:</strong> <br />
                    The complexity of bubble sort is  O(n^2)  in both worst and average cases, because the entire array needs to be iterated for every element.</p>

            </div>
            <div id="sources" class="tab-pane fade space-div">
                <p>
                    <ul>
                        
<!-- Bubble Sort: -->
<li><a href="https://www.youtube.com/watch?v=o4bAoo_gFBU">bubble sort 1</a></li>
<li><a href="https://www.tutorialspoint.com/data_structures_algorithms/bubble_sort_algorithm.htm">bubble sort 2</a></li>
<li><a href="https://www.geeksforgeeks.org/bubble-sort/">bubble sort 3</a></li>

                    </ul>
                </p>
                
            </div>
        </div>
    </div>


    <div class="psuedo-div space-div row" >
        <h2>Code : </h2>

        <p>
        <pre><div class="code">
procedure bubbleSort(A : list of sortable items)
    n := length(A)
    repeat
        newn := 0
        for i := 1 to n - 1 inclusive do
            if A[i - 1] > A[i] then
                swap(A[i - 1], A[i])
                newn := i
            end if
        end for
        n := newn
    until n ≤ 1
    end procedure </div></pre>
        </p>

    </div>

    <div class="time-div space-div row">
        <h2>Time Complexity : </h2>
        <pre>  
        Worst:
            O(n^2)
            </pre>
    </div>

</div>


{% endblock %}