{% extends "pages/learn.html" %}
{% load static %}
{% block nav-insertionsort %}

<div>
    <div class="content-div">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
            <li><a data-toggle="tab" href="#sources">Sources</a></li>
        </ul>

        <div class="tab-content ">
            <div id="description" class="tab-pane fade in active">
                <h3><strong> Insertion Sort : </strong></h3>
                <p>Insertion sort is based on the idea that one element from the input elements is consumed in each iteration to find its correct position i.e, the position to which it belongs in a sorted array.  </p>
                <p>It iterates the input elements by growing the sorted array at each iteration. It compares the current element with the largest value in the sorted array. If the current element is greater, then it leaves the element in its place and moves on to the next element else it finds its correct position in the sorted array and moves it to that position. This is done by shifting all the elements, which are larger than the current element,  in the sorted array to one position ahead</p>
                <p><strong>Implementation</strong> </p>
                <pre class="prettyprint"><code>void insertion_sort ( int A[ ] , int n)
{
     for( int i = 0 ;i &lt; n ; i++ ) {
    /*storing current element whose left side is checked for its
             correct position .*/

      int temp = A[ i ];
      int j = i;

       /* check whether the adjacent element in left side is greater or
            less than the current element. */

          while(  j &gt; 0  &amp;&amp; temp &lt; A[ j -1]) {

           // moving the left side element to one position forward.
                A[ j ] = A[ j-1];
                j= j - 1;

           }
         // moving current element to its  correct position.
           A[ j ] = temp;
     }
}
</code></pre>
                <p>Take array A[] = [7, 4, 5, 2].    </p>
                <p><img width="680" alt="enter image description here" src="https://he-s3.s3.amazonaws.com/media/uploads/46bfac9.png" /></p>
                <p>Since 7 is the first element has no other element to be compared with, it remains at its position. Now when on moving towards 4, 7 is the largest element in the sorted list and greater than 4. So, move 4 to its correct position i.e. before 7. Similarly with 5, as 7 (largest element in the sorted list) is greater than 5, we will move 5 to its correct position. Finally for 2, all the elements on the left side of 2  (sorted list) are moved one position forward as all are greater than 2 and then 2 is placed in the first position. Finally, the given array will result in a sorted array.</p>
                <p><strong>Time Complexity:</strong> </p>
                <p>In worst case,each element is compared with all the other elements in the sorted array. For N elements, there will be N^2 comparisons. Therefore, the time complexity is O(N^2) </p>

            </div>
            <div id="sources" class="tab-pane fade space-div">
                <p>
                    <ul>
                        <!-- Insertion Sort: -->
<li><a href="https://www.youtube.com/watch?v=i-SKeOcBwko">insertion sort 1</a></li>
<li><a href="https://www.youtube.com/watch?v=nKzEJWbkPbQ">insertion sort 2</a></li>
<li><a href="https://www.tutorialspoint.com/data_structures_algorithms/insertion_sort_algorithm.htm">insertion sort 3</a></li>
<li><a href="https://en.wikipedia.org/wiki/Insertion_sort">insertion sort 4</a></li>

                    </ul>
                </p>
                
            </div>
        </div>
    </div>


    <div class="psuedo-div space-div row" >
        <h2>Code : </h2>

        <p>
        <pre><div class="code">
    i ← 1
    while i < length(A)
        j ← i
        while j > 0 and A[j-1] > A[j]
            swap A[j] and A[j-1]
            j ← j - 1
        end while
        i ← i + 1
    end while        </div>
            </pre>
        </p>

    </div>

    <div class="time-div space-div row">
        <h2>Time Complexity : </h2>
        <pre>
            Worst:
            O(n^2)     
        </pre>
    </div>

</div>


{% endblock %}