{% extends "pages/learn.html" %}
{% load static %}
{% block nav-avltree %}

<div>
    <div class="content-div">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
            <li><a data-toggle="tab" href="#sources">Sources</a></li>
        </ul>

        <div class="tab-content ">
            <div id="description" class="tab-pane fade in active">
                <h3><strong> AVL Tree : </strong></h3>
                <p>What if the input to binary search tree comes in a sorted (ascending or descending) manner? It will then look like this &minus;</p>
                <img src="https://www.tutorialspoint.com/data_structures_algorithms/images/unbalanced_bst.jpg" alt="Unbalanced BST" />

                <p>It is observed that BST's worst-case performance is closest to linear search algorithms, that is &Omicron;(n). In real-time data, we cannot predict data pattern and their frequencies. So, a need arises to balance out the existing BST.</p>
                <p>Named after their inventor <b>Adelson</b>, <b>Velski</b> &amp; <b>Landis</b>, <b>AVL trees</b> are height balancing binary search tree. AVL tree checks the height of the left and the right sub-trees and assures that the difference is not more than 1. This difference is called the <b>Balance Factor</b>.</p>
                <p>Here we see that the first tree is balanced and the next two trees are not balanced &minus;</p>
                <img src="https://www.tutorialspoint.com/data_structures_algorithms/images/unbalanced_avl_trees.jpg" alt="Unbalanced AVL Trees" />
                <p>In the second tree, the left subtree of <b>C</b> has height 2 and the right subtree has height 0, so the difference is 2. In the third tree, the right subtree of <b>A</b> has height 2 and the left is missing, so it is 0, and the difference is 2 again. AVL tree permits difference (balance factor) to be only 1.</p>
                <pre class="result notranslate">
<i><b>BalanceFactor</b></i> = height(left-sutree) &minus; height(right-sutree)
</pre>
                <p>If the difference in the height of left and right sub-trees is more than 1, the tree is balanced using some rotation techniques.</p>
                <h2>AVL Rotations</h2>
                <p>To balance itself, an AVL tree may perform the following four kinds of rotations &minus;</p>
                <ul class="list">
                    <li>Left rotation</li>
                    <li>Right rotation</li>
                    <li>Left-Right rotation</li>
                    <li>Right-Left rotation</li>
                </ul>
                <p>The first two rotations are single rotations and the next two rotations are double rotations. To have an unbalanced tree, we at least need a tree of height 2. With this simple tree, let's understand them one by one.</p>
                <h3>Left Rotation</h3>
                <p>If a tree becomes unbalanced, when a node is inserted into the right subtree of the right subtree, then we perform a single left rotation &minus;</p>
                <img src="https://www.tutorialspoint.com/data_structures_algorithms/images/avl_left_rotation.jpg" alt="Left Rotation" />
                <p>In our example, node <b>A</b> has become unbalanced as a node is inserted in the right subtree of A's right subtree. We perform the left rotation by making <b>A</b> the left-subtree of B.</p>
                <h2>Right Rotation</h2>
                <p>AVL tree may become unbalanced, if a node is inserted in the left subtree of the left subtree. The tree then needs a right rotation.</p>
                <img src="https://www.tutorialspoint.com/data_structures_algorithms/images/avl_right_rotation.jpg" alt="Right Rotation" />
                <p>As depicted, the unbalanced node becomes the right child of its left child by performing a right rotation.</p>
                <h3>Left-Right Rotation</h3>
                <p>Double rotations are slightly complex version of already explained versions of rotations. To understand them better, we should take note of each action performed while rotation. Let's first check how to perform Left-Right rotation. A left-right rotation is a combination of left rotation followed by right rotation.</p>
                <table class="table table-bordered">
                    <tr>
                        <th style="width:30%; text-align:center;">State</th>
                        <th style="text-align:center;">Action</th>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/right_subtree_of_left_subtree.jpg" alt="Right Rotation" /></td>
                        <td style="vertical-align:middle;">A node has been inserted into the right subtree of the left subtree. This makes <b>C</b> an unbalanced node. These scenarios cause AVL tree to perform left-right rotation.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/subtree_left_rotation.jpg" alt="Left Rotation" /></td>
                        <td style="vertical-align:middle;">We first perform the left rotation on the left subtree of <b>C</b>. This makes <b>A</b>, the left subtree of <b>B</b>.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/left_unbalanced_tree.jpg" alt="Left Rotation" /></td>
                        <td style="vertical-align:middle;">Node <b>C</b> is still unbalanced, however now, it is because of the left-subtree of the left-subtree.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/right_rotation.jpg" alt="Right Rotation" /></td>
                        <td style="vertical-align:middle;">We shall now right-rotate the tree, making <b>B</b> the new root node of this subtree. <b>C</b> now becomes the right subtree of its own left subtree.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/balanced_avl_tree.jpg" alt="Balanced Avl Tree" /></td>
                        <td style="vertical-align:middle;">The tree is now balanced.</td>
                    </tr>
                </table>
                <h3>Right-Left Rotation</h3>
                <p>The second type of double rotation is Right-Left Rotation. It is a combination of right rotation followed by left rotation.</p>
                <table class="table table-bordered">
                    <tr>
                        <th style="text-align:center;width:30%;">State</th>
                        <th style="text-align:center;">Action</th>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/left_subtree_of_right_subtree.jpg" alt="Left Subtree of Right Subtree" /></td>
                        <td style="vertical-align:middle;">A node has been inserted into the left subtree of the right subtree. This makes <b>A</b>, an unbalanced node with balance factor 2.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/subtree_right_rotation.jpg" alt="Subtree Right Rotation" /></td>
                        <td style="vertical-align:middle;">First, we perform the right rotation along <b>C</b> node, making <b>C</b> the right subtree of its own left subtree <b>B</b>. Now, <b>B</b> becomes the right subtree of <b>A</b>.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/right_unbalanced_tree.jpg" alt="Right Unbalanced Tree" /></td>
                        <td style="vertical-align:middle;">Node <b>A</b> is still unbalanced because of the right subtree of its right subtree and requires a left rotation.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/left_rotation.jpg" alt="Left Rotation" /></td>
                        <td style="vertical-align:middle;">A left rotation is performed by making <b>B</b> the new root node of the subtree. <b>A</b> becomes the left subtree of its right subtree <b>B</b>.</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.tutorialspoint.com/data_structures_algorithms/images/balanced_avl_tree.jpg" alt="Balanced AVL Tree" /></td>
                        <td style="vertical-align:middle;">The tree is now balanced.</td>
                    </tr>
                </table>
            </div>
            <div id="sources" class="tab-pane fade space-div">
                <p>
                    <ul>
                        
<!-- AVL Tree: -->
<li><a href="https://www.youtube.com/watch?v=YWqla0UX-38">avl tree 1</a></li>
<li><a href="https://www.youtube.com/watch?v=jDM6_TnYIqE">avl tree 2</a></li>
<li><a href="https://www.tutorialspoint.com/data_structures_algorithms/avl_tree_algorithm.htm">avl tree 3</a></li>

                    </ul>
                </p>
                
            </div>
        </div>
    </div>


    <div class="psuedo-div space-div row" >
        <h2>Code : </h2>

        <p>
        <pre><div class="code">

    <i><b>BalanceFactor</b></i> = height(left-sutree) &minus; height(right-sutree)
                
        </div>
            </pre>
        </p>

    </div>

    <div class="time-div space-div row">
        <h2>Time Complexity : </h2>
        <pre>
            O(nlog n)
        </pre>
    </div>

</div>


{% endblock %}