{% extends "pages/index.html" %}
<h1>{% block title %}Practice{% endblock %}</h1>
{% block nav-practice %}
<div id="practice-container">
    <br /> <br />
    <article class="card pratice-card wrapper">
        <div class="ribbon-wrapper-green">
            <div class="ribbon-green">
                ARRAYS
            </div>
        </div>
        <a href="view_data/?category=Array" style="text-decoration: none;">
            <div class="card-content">
                <h2>Content Types and Field Types</h2>
                <div><div class="ezrichtext-field"><p>Know what you're working with! Here we look at the Content Type and its basic unit&nbsp;of store, the field.</p>
                </div>
                </div>
            </div>
        </a>
    </article>
</div>
{% endblock %}

