{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Dashboard</title>{% endblock %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/message.css' %}" type="text/css" />


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
  <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
</head>
<body>
  <div>
    {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <li class="msg">{{message}} ✅</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% block content %}
   {% if user.is_authenticated %} 
    <meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/home">
    {% else %}
    <div class="main">
        <p class="msg warning_msg">You are not authenticated.<br />Please <strong>SignIn/SignUp</strong></p>
        
        <p class="title signin-signup"><a href="{% url 'account_login' %}">Sign In</a> / <a href="{% url 'account_signup' %}">Sign Up</a></p>
            
        <table>
          <tr>
          <td>
            <section class="section-content">
                <div class="main-content">
                    <h3 class="sub-title">WELCOME ! To  All Coding Cubs</h3>
                    <h1 class="title">Are You Ready to learn code<br /> Get Started !!!</h1>
                </div>
            </section>
          </td>
          </tr>
        </table>
    </div>
    
    {% endif %}
  {% endblock content %}
  </div>
</body>
</html>